<!DOCTYPE html>
<html>
<head>
    <title>Referral Website</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <!-- Navigation bar -->
    <!-- Slide pictures -->
    <!-- Search bars -->
</body>
</html>

