<!DOCTYPE html>
<html>
<head>
  <title>Referral web</title>
  <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
  <a href="/hospitals"><button class="hospitals">Hospitals</button></a> 
  <button class="button top-right">Sign In</button>
  <!-- <button class="hospitals">Hospitals</button> -->
  <button class="services">Services</button>
  <div class="center">
    <!-- <button class="button">Hospitals</button> -->
    
    <div class="search-bar">
      <input type="text" class="search-input" placeholder="Search Hospitals">
      <button class="button search-button">Search</button>
    </div>
    
    <!-- <button class="button">Services</button> -->
    
    <div class="search-bar">
      <input type="text" class="search-input" placeholder="Search Services">
      <button class="button search-button">Search</button>
    </div>
  </div>
</body>
</html>
