<!DOCTYPE html>
<html>
<head>
  <title>Referral web</title>
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <script src="/js/index.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
</head>
<body>
  <navbar>
    <%- include('partials/header') %>
  </navbar>
  <div class="center">
    <div class="center">
      <div class="search-bar">
        <input type="text" class="search-input" placeholder="Search Hospitals" id="hospital-search" onkeyup="searchHospitals()">
        <button class="button search-button" id="hospital-search-button">Search</button>
      </div>
      
      <ul id="hospital-results"></ul>
      <div class="slideshow">
      </div>
    </div>
  
  </div>
  
  </div>
    <%- include('partials/footer') %>
</body>
</html>
