body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

}

.navbar {
    background-color: #f8f8f8;
    padding: 20px;
    display: flex;
    align-items: center;
}

.navbar img {
    width: 50px;
    margin-right: 10px;
}

.navbar h1 {
    margin: 0;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}

.navbar ul li {
    margin-left: 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
}

.body .container {
    display: flex;
    flex-direction: row;
}

.hospital {
    flex: 1;
}

.contact {
    /* display: flex;
    flex-direction: column; */
    flex: 1;
    padding-left: 60px;
    
}

.contact h3 {
    margin-top: 40px;
}

.contact ul {
    list-style: none;
    padding: 0;
}

.contact ul li {
    margin-bottom: 20px;
}

.body {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

/* .primary-care {
    flex: 1;
    padding-top: 20px;
    width: fit-content;
} */
.pc_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.pc_card {
    width: 30%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}
.pc_card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.pc_card_container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: bottom;
}

    .details {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 10px;
    }

/* .primary-care h2 {
    margin-top: 0;
} */

.album {
    display: flex;
}

.album div {
    margin-right: 20px;
}

.album div img {
    width: 200px;
}

.album div h3 {
    margin-top: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
  }

  .card {
    width: 30%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  .card_container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: bottom;
  }
  
    .details {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(164, 223, 247, 0.74);
        padding: 10px;
    }
 
/* .body .container {
    display: flex;
    flex-direction: row;
} */

.body .doc_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}



.body .doc_card {
    width: 30%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}
.body .doc_card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
    
.body .doc_card_container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: bottom;
}
     
.body .doc_details {
    /* display: flex; */
    /* flex-direction: column; */
    position: relative;
    line-height: 1;
    /* bottom: 0;
    left: 0;
    right: 0; */
    background-color: rgba(170, 210, 243, 0.8);
    padding: 10px;
}   
