body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

}

/* .body {
    display: flex;
    flex-direction: row;
    padding: 50px;
} */

.navbar {
    background-color: #f8f8f8;
    padding: 20px;
    display: flex;
    align-items: center;
}

.navbar img {
    width: 50px;
    margin-right: 10px;
}

.navbar h1 {
    margin: 0;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}

.navbar ul li {
    margin-left: 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
}

.body .container {
    display: flex;
    flex-direction: row;
}

.hospital {
    flex: 1;
}

.contact {
    flex: 1;
    padding-left: 50px;
}

.contact h3 {
    margin-top: 0;
}

.contact ul {
    list-style: none;
    padding: 0;
}

.contact ul li {
    margin-bottom: 10px;
}

.body {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.primary-care {
    flex: 1;
    padding-top: 20px;
    width: fit-content;
}

.primary-care h2 {
    margin-top: 0;
}

.album {
    display: flex;
}

.album div {
    margin-right: 20px;
}

.album div img {
    width: 200px;
}

.album div h3 {
    margin-top: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
  }
  .card {
    width: 30%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .container {
    padding: 2px 16px;
  }
  